<div class="details-container">
    <img src="https://iili.io/2NniXDb.md.jpg" centr="Фото квартири">
    <h2>2-кімнатна квартира в центрі Києва</h2>
    <p>Простора та сучасна квартира з усіма зручностями, розташована в самому центрі міста. Ідеальний вибір для сім'ї або робочої поїздки.</p>
    <ul class="info-list">
        <li><strong>Розташування:</strong> Київ, вул. Хрещатик, 20</li>
        <li><strong>Площа:</strong> 65 м²</li>
        <li><strong>Кількість кімнат:</strong> 2</li>
        <li><strong>Ціна:</strong> 12,000 грн/міс</li>
        <li><strong>Зручності:</strong> Меблі, побутова техніка, Wi-Fi, кондиціонер</li>
    </ul>
    <button [routerLink] = "['/booking',apartmentId]">Забронювати</button>
</div>
